<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link href="{{.FaviconFileName}}" rel="icon" />
    <link href="{{.StyleFileName}}" rel="stylesheet" />
    <script src="{{.ScriptFileName}}"></script>
    <script src="wasm_exec.js"></script>
    <script>
        const go = new Go();
        WebAssembly.instantiateStreaming(fetch("bundle.wasm"), go.importObject).then((result) => {
            go.run(result.instance);
        });
    </script>
    <script>
        function call(callbackName) {
            const startTime = performance.now();
            let out;
            try {
                out = globalThis[callbackName]();
            } catch (e) {
                console.error("error thrown by %s: ", callbackName, e);
            } finally {
                const measure = performance.measure(
                    callbackName,
                    {start: startTime, end: performance.now()}
                );
                console.log(`${callbackName} duration: `, measure.duration)
            }
            return out;
        }
    </script>
</head>

<body>
    <h1>Go WASM to JS Comparison</h1>
    <p>
        Eventually this'll have JS and Go+WASM implementations of random functions, like a basic calculator or array
        manipulation, and compare their speed.
    </p>
    <p>
        But for now I'm focusing on getting infrastructure working. Like the static site generation, http server for
        local development, deployment pipeline, and hosting.
    </p>
    <p>
        This is, more than anything, an excuse to play with Go in various contexts - command line tooling, static site
        generation, a basic calculator implementation, and some WASM.
    </p>

    <section id="comparisons">
        {{template "add"}}
        {{template "mult"}}
    </section>
</body>

</html>
