
name: Generate

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24.1'

    - name: Generate
      run: make generate

    - name: Configure GH Pages
      uses: actions/configure-pages@v5.0.0
